.listStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5vw;

    li {
        padding: 0 2vw;
        list-style: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.titleStyle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}