.footerStyle {
    background-color: darkblue;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.textStyle{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}