.headerStyle{
    background-color: darkblue;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 2vw;
}

.headingStyle{
    margin: 0;
}