.navbarStyle {
    ul {
        display: flex;
        flex-direction: row;
        padding-left: 0;
    }
}

.liStyle {
    li {
        padding: 1vw;
        list-style: none;
        text-align: center;

        &:hover {
            background-color: lightblue;
            color: darkblue;
        }
    }
}