// Size
.small {
    padding: 1vw 2vw;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.medium {
    padding: 2vw 4vw;
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.large {
    padding: 4vw 8vw;
    font-size: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Theme
.light {
    background-color: lightblue;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}